*{
  font-family: 'Montserrat';
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../assets/img/Landscape.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*width: 100%;*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

img{
  display: block;
  margin: 0 auto;
}


@media (max-width:460px) {
  body{
    background-image: url("../assets/img/maxresdefault.jpg");
  }
}
@media (min-width: 450px) and (max-width: 650px){
  body{
    background-image: url("../assets/img/dawn.png");

  }
}
@media (min-width:660px) {
  body{
    background-image: url("../assets/img/landscape.jpg");

  }
}
